body  
{  
    margin: 10;  
    padding: 10;  
    background-color:#e6e3e0;  
    font-family: 'Arial';  
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 70px;  
        background: #d1dddb;  
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    color: #696969;  
    padding: 14px;  
}  
label{  
    color: #696969;  
    font-size: 14px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color:rgb(2, 2, 2);  

 }
  
#Correo{ width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color:rgb(245, 246, 248);
    background-color: rgb(44, 103, 212);


}  
span{  
    color: rgb(8, 3, 3);  
    font-size: 17px;  
}  
a{  
    float: right;  
    background-color: grey;  
} 

/*Estilo del formulario para Ventas - Charles H*/

form{
    padding: 40px;
    max-width: 600px;
    background-color: #E7E7E7;
    margin: 0 auto;
  }

form input {
  width: 100%;
  height: 18px;
  margin: 0.1rem;
}